<div class="card-deck">
    <div class="card text-center">
        <div class="card-header">
            Image 1
        </div>
        <img class="card-img" src="https://www.ithaka.travel/blog/wp-content/uploads/2017/09/Featured-Image-8-740x494.jpg" alt="Card image">
    </div>

    <div class="card text-center">
        <div class="card-header">
            Image 2
        </div>
        <img class="card-img" src="https://s3.amazonaws.com/main-newsbtc-images/2015/05/bigstock-Tropical-Fresh-Cocktail-On-Whi-65007760.jpg"
            alt="Card image">
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        Tags
    </div>
    <div class="card-body">
        <p class="card-text">#beach #cocktails #coconut #thailand #vacation #funinthesun #paradise</p>
        <form class="myform" action="post">
            <button type="button" class="btn btn-success btn-lg" class="vote-btn" data-default-text="fas fa-arrow-circle-up" data-alt-text="up-vote">
                <span class="icon"></span>
                <i class="fas fa-arrow-circle-up"></i>
                <span>Up-vote</span>
                <span class="badge vote-count1">0</span>
            </button>

            <button type="button" class="btn btn-danger btn-lg" class="vote-btn" data-default-text="fas fa-arrow-circle-down" data-alt-text="down-vote">
                <span class="icon"></span>
                <i class="fas fa-arrow-circle-down"></i>
                <span>Down-vote</span>
                <span class="badge vote-count2">0</span>
            </button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>


<script src="/assets/js/browse.js"></script>