
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Image 1</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFSqhHtfOKhIipBzCk2wl-AhW1yfsW7DekO1aDCOEYVTAkCsVdKw" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Image 2</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqvY9NEJVv6isHE_PVqsyu7DANMdbx75jmNsNvRREHi3jXaMyrvg" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> 
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Tags</h5>
        <i class="fas fa-angle-double-up" class="float-sm-left"></i>
        <p class="card-text">#butter #baconbutter #butteryfriends #slipnslide #funinthesun #healthyfats #lube</p>
        <i class="fas fa-angle-double-down" class="float-sm-right"></i>
    </div>
</div>