<div class="container-fluid" "content-row">
    <div class="card-block text-center" <div class="card-body">
        <h5 class="card-title">Image 1</h5>
        <form class="myform">
            <p class="vote-count">0</p>
            <button type="button" class="btn btn-success" class="vote-btn" data-default-text="⇈" data-alt-text="PAIR VOTE!">
                <span class="icon"></span>
                <span class="text">⇈</span>
            </button>
            <p class="vote-count">0</p>
            <button type="button" class="btn btn-success" class="vote-btn" data-default-text="⇊" data-alt-text="PAIR VOTE!">
                <span class="icon"></span>
                <span class="text">⇊</span>
            </button>
        </form>
        <p class="card-text"></p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFSqhHtfOKhIipBzCk2wl-AhW1yfsW7DekO1aDCOEYVTAkCsVdKw" class="btn btn-primary"></img>
    </div>
</div>
</div>
</div>
<div class="container-fluid" "content-row">
    <div class="card-block text-center" <div class="card-body">
        <h5 class="card-title">Image 2</h5>
        <form class="myform">
            <p class="vote-count">0</p>
            <button type="button" class="btn btn-success" class="vote-btn" data-default-text="⇈" data-alt-text="PAIR VOTE!">
                <span class="icon"></span>
                <span class="text">⇈</span>
            </button>
            <p class="vote-count">0</p>
            <button type="button" class="btn btn-success" class="vote-btn" data-default-text="⇊" data-alt-text="PAIR VOTE!">
                <span class="icon"></span>
                <span class="text">⇊</span>
            </button>
        </form>
        <p class="card-text"></p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqvY9NEJVv6isHE_PVqsyu7DANMdbx75jmNsNvRREHi3jXaMyrvg" class="btn btn-primary"></img>
    </div>
</div>
</div>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Tags</h5>
        <p class="card-text">#butter #baconbutter #butteryfriends #slipnslide #funinthesun #healthyfats #lube</p>
        <i class="fas fa-angle-double-down" class="float-sm-right"></i>
    </div>
</div>
<script src="/assets/js/browse.js"></script>