<div class="card-deck">
    <div class="card text-center border-0">
        <div class="card-header border-0">
            Image 1
        </div>
        <img id="image1" class="card-img" src="https://nationalpostcom.files.wordpress.com/2017/10/mainart3.jpg" alt="Card image">
    </div>

    <div class="card text-center border-0">
        <div class="card-header border-0">
            Image 2
        </div>
        <img id="image2" class="card-img" src="https://smhttp-ssl-60529.nexcesscdn.net/pub/media/catalog/product/cache/image/700x560/e9c3970ab036de70892d86c6d221abfe/t/w/twix-candy-bar-solo.jpg"
            alt="Card image">
    </div>
</div>

<div class="card text-center border-0">
    <div class="card-header border-0">
        Tags
    </div>
    <div class="card-body border-0">
        <p id="hashtags" class="card-text">#dolphins #twix #gimmeabreaeaeaeak</p>
        <form class="myform" action="post">
            <button type="button" class="btn button-up btn-lg" class="vote-btn" data-default-text="fas fa-arrow-circle-up" data-alt-text="up-vote">
                <span class="icon"></span>
                <i class="fas fa-arrow-circle-up"></i>
                <span> Up-vote </span>
                <span class="badge badge-light" onclick="myFunction(hideVote1)" id="vote-count1"> 40 </span>
            </button>

            <button type="button" class="btn button-down btn-lg" class="vote-btn" data-default-text="fas fa-arrow-circle-down" data-alt-text="down-vote">
                <span class="icon"></span>
                <i class="fas fa-arrow-circle-down"></i>
                <span> Down-vote </span>
                <span class="badge badge-light" onclick="myFunction(hideVote2)" id="vote-count2"> 13 </span>
            </button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>


<script src="/assets/js/browse.js"></script>