<div class="jumbotron">
  <h1 class="display-4">pairSomm</h1>
  <h2>the sommelier of things!</h2>
  <br>
  <form action="/login" method="POST">
    <div class="form-group">
      <h3>Log in to Your Account</h3>
      <br>
      <label for="username" class="text">UserName</label>
      <input name="username" type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your username">

    </div>
    <div class="form-group">
      <label for="password" class="text">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
    </div>
    <input class="btn btn-primary btn-lg" type="submit" value="Log In!">
  </form>
  <br>
  <a class="btn btn-success btn-md" href="/register" role="button">or Register for an Account</a>
  </p>
</div>
<br>
<br>
<br>
<br>