<div class="jumbotron jumbotron-login">
  <div class="card text-center special2 border-0">
    <center>
      <img class="card-image" src="assets/img/pairSomm.png" alt="pairSomm Logo" width="429" height="166">
    </center>
    <div class="card-footer card-footer-logo text-center border-0">
      <h3 class="logo1">"the sommelier of things!"
      </h3>
      <br>
      <h4 class="logo2"> -- a pairing app that drives discovery of new experiences via user-generated combinations -- </h4>
    </div>
  </div>
  <br>
  <form action="/login" method="POST">
    <div class="form-group">
      <h3>Log in to Your Account</h3>
      <br>
      <label for="username" class="text">UserName</label>
      <input name="username" type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your username">

    </div>
    <div class="form-group">
      <label for="password" class="text">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
    </div>
    <button class="btn button-yes btn-lg" type="submit">Log In!</button>
  </form>
  <br>
  <a class="btn button-confirm btn-md" href="/register" role="button">or Register for an Account</a>
  </p>
</div>
<br>
<br>
<br>
<br>