<div class="jumbotron">
  <h1 class="display-4">pairSomm</h1>
  <h2>the sommelier of things!</h2>
  <form>
    <div class="form-group">
      <h3>Log in to Your Account</h3>
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  </form>
  <a class="btn btn-primary btn-lg" href="/browse" role="button">Log In</a>
  <a class="btn btn-success btn-md" href="/register" role="button">or Register for an Account</a>
  </p>
</div>