<div class="jumbotron">
    <h1 class="display-4">pairSomm Pair-Post!</h1>
    <h2>Post your own perfect pairing here</h2>
    <br>
    <form action="/register" method="post">
        <div class="form-group">
            <h3>Image 1 Link</h3>
            <input type="link1" class="form-control" name="link1" aria-describedby="linkHelp" placeholder="Enter an image link for the first item here">
        </div>
        <div class="form-group">
            <h3>Image 2 Link</h3>
            <input type="link2" class="form-control" name="link2" aria-describedby="linkHelp" placeholder="Enter an image link for the second item here">
        </div>
        <div class="form-group">
            <h3>Pairing Hashtags</h3>
            <input type="hashtags" class="form-control" name="hashtags" placeholder="Enter at least one, but no more than 10 #hashtags for this pairing here">
        </div>
        <button type="button" class="btn btn-success btn-lg" class="post-btn" data-default-text="fab fa-pied-piper-pp" data-alt-text="pair-post">
            <span>Pair-Post!</span>
            <span class="icon"></span>
            <i class="fab fa-pied-piper-pp"></i>
        </button>
</div>

<script src="/assets/js/post.js"></script>