<h2>Pair Post</h2>

<div class="card" style="max-width: 202px;">
    <form>
        First Link:
        <br>
        <input type="text" name="firstlink">
        <!-- Image -->
        <img class="card-img-top" src="/pix/samples/12s.jpg" alt="Photo of sunset">
        <br> Second Link:
        <br>
        <input type="text" name="lastlink">
        <!-- Image -->
        <img class="card-img-bottom" src="/pix/samples/12s.jpg" alt="Photo of sunset">
        <br> Hashtag:
        <br>
        <input type="text" name="hashtag">
    </form>
</div>