<h2>Pair Input</h2>

<form>
    First Link:
    <br>
    <input type="text" name="firstlink">
    <br> Second Link:
    <br>
    <input type="text" name="lastlink">
    <br> Hashtag:
    <br>
    <input type="text" name="hashtag">
</form>