<div class="container">
    <h1 class="display-4">pairSomm</h1>
    <h2>the sommelier of things!</h2>
    <div class="card">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
                <img src="https://pbs.twimg.com/profile_images/826249781206974467/eEce3BT5_400x400.jpg" name="aboutme" width="240" height="240"
                    class="rounded-circle">
            </a>
            <h3>Perd Pair-Monger</h3>
            <em>click my face for more</em>
        </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Perd</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="https://pbs.twimg.com/profile_images/826249781206974467/eEce3BT5_400x400.jpg" name="aboutme" width="240" height="240"
                            class="rounded-circle">
                        <h3 class="media-heading">Perd Pair-Monger
                            <small>USA</small>
                        </h3>
                        <span>
                            <strong>Pairing Record: </strong>
                        </span>
                        <br>
                        <button type="button" class="btn btn-success">Total Upvotes Received</button>
                        <button type="button" class="btn btn-danger">Total Downvotes Received</button>
                    </center>
                    <hr>
                    <center>
                        <p class="text-left">
                            <strong>Bio: </strong>
                            <br> I love combining things and discovering new pairs like playing beach volleyball on mushrooms.</p>
                        <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Perd</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>