<div class="jumbotron">
    <h1 class="display-4">pairSomm Profile</h1>
    <h2 class="subtitle">It's all about you, baby</h2>
    <div class="card card-profile text-center border-0">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
                <img src="https://pbs.twimg.com/profile_images/826249781206974467/eEce3BT5_400x400.jpg" name="aboutme" width="240" height="240"
                    class="rounded-circle" id="profile-pic">
            </a>
            <h3>Perd Pair-Monger</h3>
            <span class="text">
                <em>click my face for more info</em>
            </span>
        </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Perd</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="https://pbs.twimg.com/profile_images/826249781206974467/eEce3BT5_400x400.jpg" name="aboutme" width="240" height="240"
                            class="rounded-circle">
                        <h3 class="media-heading">Perd Pair-Monger
                            <small>USA</small>
                        </h3>
                        <span class="text">
                            <strong>Pairing Stats: </strong>
                        </span>
                        <br>
                        <button type="button" class="btn button-up" class="vote-btn" data-default-text="fas fa-arrow-circle-up" data-alt-text="total-up-votes">
                            <span class="icon"></span>
                            <i class="fas fa-arrow-circle-up"></i>
                            <span>Up-votes Received</span>
                            <span class="badge">0</span>
                        </button>
                        <button type="button" class="btn button-down" class="vote-btn" data-default-text="fas fa-arrow-circle-down" data-alt-text="total-down-votes">
                            <span class="icon"></span>
                            <i class="fas fa-arrow-circle-down"></i>
                            <span>Down-votes Received</span>
                            <span class="badge">0</span>
                        </button>
                    </center>
                    <hr>
                    <center>
                        <p class="text text-left">
                            <strong>Bio: </strong>
                            <br> I love combining things and discovering new pairings like playing beach volleyball on mushrooms.</p>
                        <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn button-accept" data-dismiss="modal">Dismiss</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>