<div class="jumbotron">
    <h1 class="display-4">pairSomm</h1>
    <h2>the sommelier of things!</h2>
    <br>
    <form action="/register" method="post">
        <div class="form-group">
            <h3>Register for an Account</h3>
            <br>
            <label for="exampleInputEmail1" class="text">Email Address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter an email address here">
        </div>
        <div class="form-group">
            <label for="exampleInputUsername" class="text">UserName</label>
            <input type="username" class="form-control" name="username" placeholder="Enter a username here">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="text">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter a password here">
        </div>
        <button type="button" class="btn btn-secondary btn-lg">Accept Our Terms & Conditions</button>
        <button href="/" class="btn btn-success btn-lg" type="submit">Create Account!</button>
        <br>
        <br>
        <button href="/login" class="btn btn-primary btn-sm" type="submit">Already have an account? Log in here!</button>
    </form>
</div>
<br>
<br>
<br>
<br>