.card,
.card-deck {
    margin: 10px;
}

#profile-pic {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
.h1,
.card-header,
.card-text {
    /* typewritery */
    font-family: 'Special Elite', cursive;
    color: white;
}

.form-control,
.text,
button,
.button-confirm {
    /* clean simple, but funky for headers */
    font-family: 'Life Savers', cursive;
    color: white;
}

.navbar,
.navbar-brand {
    background-color: #660033;
    /* cursive swoopy for font w/ logo */
    font-family: 'Tangerine', cursive;
    color: white;
    font-size: 1.3em;
}

body,
.card,
.jumbotron,
.modal-body {
    background-color: rgb(197, 149, 101);
}

.subtitle {
    color: #993300;
}

.card-profile {
    background-color: #CC6600;
}

.card-header,
.modal-header {
    background-color: #CC6600;
}

.card-footer,
.modal-footer {
    background-color: #CC6600;
}

.card-footer-logo {
    background-color: rgb(197, 149, 101);
}

.logo1 {
    color: #990033;
}

.logo2 {
    color: #993300;
    font-family: 'Life Savers', cursive;
}

.jumbotron-login {
    padding-top: 20px;
}

.button-up {
    background-color: #994a23;
}

.button-down {
    background-color: #972a4e;
}

.button-confirm {
    background-color: #993300;
    color: white;
}

.button-post,
.button-yes {
    background-color: #CC6600;
}

.button-accept {
    background-color: #990033;
}

.vote-btn {
    margin-left: 5px;
    margin-right: 5px;
}

/* color scheme:
burgundy: 660033
wine-red: 990033
orangish-brown: 993300
light orange: CC6600 */